@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: ProximaNovaRegular;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0 0 0;
}

header .first_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

    header a{
        text-decoration: none;
    }

    .first_row .contacts a{
        font-size: 14px;
        font-family: ProximaNovaBold;
        color: #1e1e1e;
    }

    .first_row .contacts span{
        font-size: 12px;
        font-family: ProximaNovaBold;
        color: #ababab;
        margin-left: 10px;
    }

    .head_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .head_menu li {
        display: inline-block;
        margin: 0 10px;
        list-style: none;
        text-transform: uppercase;
    }

    .head_menu a {
        color: #9c9c9c;
        font-size: 12px;
    }

    .head_menu a:hover {
        text-decoration: underline;
    }

    .first_row .login_block {
        display: flex;
        align-items: center;
    }

    .first_row .login_block a{
        margin-right: 10px;
        color: #9c9c9c;
        font-size: 10px;
        text-transform: uppercase;
    }

    .first_row .login_block span{
        font-size: 14px;
        margin-left: 10px;
    }

    /*Logo*/

    .second_row {
        text-align: center;
        padding: 50px 0 30px 0;
    }

    /*Main menu*/

    .main_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #f2f2f2;
        min-height: 55px;
    }

    .main_menu li {
        display: inline-block;
        margin-right: 50px;
    }

    .main_menu a {
        font-size: 13px;
        font-family: ProximaNovaBold;
        letter-spacing: 0.33px;
        color: #1f1f1f;
        text-transform: uppercase;
    }

    .main_menu a:hover {
        text-decoration: underline;
    }

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    /*Slider*/

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide {
        position: relative;
    }

    .slider_button_next {
        position: absolute;
        top: 206px;
        right: 50px;
    }

    .slide span{
        position: absolute;
        font-family: "Trajan Pro";
        text-transform: uppercase;
        font-size: 72px;
        color: #1e1e1e;
        left: 97px;
        top: 110px;
    }

    .slide p{
        position: absolute;
        font-family: ProximaNovaBold;
        font-size: 18px;
        color: #1e1e1e;
        line-height: 24px;
        max-width: 230px;
        left: 105px;
        top: 210px;
    }

    .slider_line {
        position: absolute;
        left: 105px;
        top: 190px;
    }

    .slider-product {
        position: absolute;
        top: 280px;
        left: 280px;
    }

    .slider_circle {
        position: absolute;
        width: 108px;
        height: 108px;
        background: #ffffff;
        -moz-border-radius: 54px;
        -webkit-border-radius: 54px;
        border-radius: 54px;
        right: 28px;
        bottom: 28px;
    }

    .slider_circle a{
        position: absolute;
        font-family: ProximaNovaBold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        color: #c59a77;
        right: 17px;
        bottom: 44px;
    }

    /*Row with service*/

    .service {
        display: flex;
        justify-content: center;
    }

    .service .tag{
        position: relative;
    }

    .tag a{
        position: absolute;
        background: url("../img/button-baner.png");
        height: 39px;
        width: 39px;
        top: 123px;
        left: 32px;
    }

    .tag a:hover{
        background: url("../img/button-baner-hower.png");
    }
    .service .tag span{
        position: absolute;
        font-family: ProximaNovaBold;
        top: 31px;
        left: 32px;
        font-size: 18px;
    }

    .service :first-child {
        color: #c59a77;
    }

    .service :last-child {
        color: white;
    }

    /*Shop*/

    .items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-basis: calc(100%/3);
        min-height: 300px;
        box-sizing: border-box;
        border-right: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }

    .item_last {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-basis: calc(100%/3);
        min-height: 300px;
        box-sizing: border-box;
        border-bottom: 1px solid #f2f2f2;
    }

    .item:hover, .item_last:hover {
        background-color: #f6f0eb;
    }

    .item_title {
        position: absolute;
        max-width: 140px;
        font-family: ProximaNovaBold;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 24px;
        top: 30px;
        left: 40px;
    }

    .item p, .item_last p {
        position: absolute;
        max-width: 130px;
        font-size: 12px;
        color: #7f7f7f;
        line-height: 16px;
        top: 105px;
        left: 40px;
    }

    .item_price {
        position: absolute;
        font-family: ProximaNovaBold;
        font-size: 18px;
        text-transform: uppercase;
        color: #7f7f7f;
        top: 255px;
        left: 40px;
    }

    .item img, .item_last img{
        padding-left: 100px;
        max-width: 100%;
    }
    
    .item a, .item_last a{
        position: absolute;
        background: url("../img/buy-button.png");
        height: 45px;
        width: 45px;
        top: 240px;
        left: 350px;
    }

    .item a:hover, .item_last a:hover{
        background: url("../img/buy-button-hower.png");
    }

    /*Shop description*/

    .shop_description {
        position: relative;
        flex-basis: calc(100%/3*2);
        background: url("../img/shop-descrp-back.png");
        min-height: 300px;
    }

    .shop_description h2 {
        position: absolute;
        max-width: 340px;
        font-family: ProximaNovaBold;
        letter-spacing: 0.45px;
        line-height: 24px;
        text-transform: uppercase;
        font-size: 18px;
        left: 35px;
        top: 32px;
    }

    .shop_description p{
        position: absolute;
        max-width: 315px;
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 18px;
        color: #535151;
        left: 35px;
        top: 100px;
    }

    .shop_description :last-child{
        top: 170px;
    }

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1e1e1e;
    min-height: 250px;
    padding-top: 30px;
}

    .copyright {
        font-family: ProximaNovaBold;
        max-width: 130px;
        font-size: 12px;
        color: #8e8e8e;
        letter-spacing: 0.3px;
        line-height: 16px;
    }

    .footer_menu h3, .partner h3, .social h3{
        font-family: ProximaNovaBold;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 0.45px;
        line-height: 24px;
    }

    .footer_menu a{
        text-decoration: none;
        font-size: 12px;
        color: #8e8e8e;
        letter-spacing: 0.3px;
        line-height: 32px;
    }

    .footer_menu a:hover, .partner a:hover {
        text-decoration: underline;
    }

    .partner a{
        text-decoration: none;
        font-size: 12px;
        color: #8e8e8e;
        letter-spacing: 0.3px;
    }
    .partner li{
        max-width: 50px;
        padding-top: 20px;
    }

    .social img{
        padding-top: 20px;
    }