.wrapper{
    max-width: 500px;
    margin: auto;
}

.border{
    position: relative;
    margin-top: 50px;
    border: 3px solid #5f9ea0;
    height: 400px;
    width: 262px;
    box-sizing: content-box;
    border-radius: 10px;
}

.line{
    position: absolute;
    color: white;
    text-align: right;
    width: 262px;
    background-color: #5f9ea0;
    top: 10px;
    line-height: 36px;
}

.line p {
    margin-right: 10px;
}

.input_line{
    position: absolute;
    width: 245px;
    border: 3px solid #5f9ea0;
    top: 55px;
    left: 5px;
    line-height: 30px;
    border-radius: 8px;
    color: #5f9ea0;
    text-align: right;
    font-size: 20px;
    outline: none;
}

.block {
    position: absolute;
    background-color: #5f9ea0;
    width: 81px;
    height: 32px;
    top: 105px;
    right: 10px;
}

.calcbutton{
    position: absolute;
    height: 56px;
    width: 56px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid #5f9ea0;
    outline: none;
    font-size: 25px;
    color: #5f9ea0;
}

.button7{
    top: 145px;
    left: 13px;
}

.button8{
    top: 145px;
    left: 73px;
}

.button9{
    top: 145px;
    left: 133px;
}

.button_plus{
    top: 145px;
    left: 193px;
}

.button7:hover, .button8:hover, .button9:hover, .button_plus:hover{
    background-color: honeydew;
    cursor: pointer;
}

.button7:active, .button8:active, .button9:active, .button_plus:active{
    background-color: gray;
}

.button4{
    top: 205px;
    left: 13px;
}

.button5{
    top: 205px;
    left: 73px;
}

.button6{
    top: 205px;
    left: 133px;
}

.button_minus{
    top: 205px;
    left: 193px;
}

.button4:hover, .button5:hover, .button6:hover, .button_minus:hover{
     background-color: honeydew;
     cursor: pointer;
 }

.button4:active, .button5:active, .button6:active, .button_minus:active{
    background-color: gray;
}

.button1{
    top: 265px;
    left: 13px;
}

.button2{
    top: 265px;
    left: 73px;
}

.button3{
    top: 265px;
    left: 133px;
}

.button_division{
    top: 265px;
    left: 193px;
}

.button1:hover, .button2:hover, .button3:hover, .button_division:hover{
    background-color: honeydew;
    cursor: pointer;
}

.button1:active, .button2:active, .button3:active, .button_division:active{
    background-color: gray;
}

.button_coma{
    top: 325px;
    left: 13px;
}

.button0{
    top: 325px;
    left: 73px;
}

.button_equal{
    top: 325px;
    left: 133px;
}

.button_multi{
    top: 325px;
    left: 193px;
}

.button_coma:hover, .button0:hover, .button_equal:hover, .button_multi:hover{
    background-color: honeydew;
    cursor: pointer;
}

.button_coma:active, .button0:active, .button_equal:active, .button_multi:active{
    background-color: gray;
}